@media(max-width: 1280px) {
    /* .conteudo{
        flex-shrink: 2;
    }

    .conteudo.descricao{
        width: 20%;
        height: 20%;
    }
    
    .conteudo.btn-saiba-mais{
        width: 20%;
        height: 20%;
    } */
}